# Base de Datos principal (PostgreSQL en Docker)
DATABASE_URL="postgresql://user:password@localhost:5432/rderico?schema=public"

# Configuración del API (Usado localmente si corre fuera de docker)
PORT=3001
API_URL="http://localhost:5001"

# Configuración del POS (Frontend)
NEXT_PUBLIC_API_URL="http://localhost:5001"

# Opcionales si no usas IA aún
VISION_SENSITIVITY=0.85
CAMERA_DEVICE_ID=0
GEMINI_API_KEY=""
